@font-face {
    font-family: "kviz-font";
    src: url("../resources/kviz-font.otf");
}

@keyframes glow {
    from {
      text-shadow: 0 0 10vmin white;
    }
    to {
      text-shadow: 0 0 6vmin white;		
    }
}

body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(#663a82 , #3c1361);
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: min(4vh, 5vmin);
}

h1, h2 {
    font-family: kviz-font, Verdana, sans-serif;
    white-space: nowrap;
    margin: 0;
}

h1 {
    color: #663a82;
    text-shadow: 0.5vmin 0.5vmin 1vmin #3c1361;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: min(6vw, 11vmin);
    white-space: nowrap;
    user-select: none;
}

h2 {
    color: silver;
    font-size: min(6vw, 6vmin);
    animation: glow 1s ease-in-out infinite alternate;
    cursor: default;
}

div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    }

.okvir-pitanje, .okvir-odgovor {
    margin: 0.5vh;
    background: silver url("../resources/silver.jpg");
    background-size: 100% 100%;
    clip-path: polygon(0% 50%,
                       3% 0%,
                       97% 0%,
                       100% 50%,
                       97% 100%,
                       3% 100%);
    height: 7.5vh; /* height odgovor */
}

.okvir-pitanje {
    height: 15vh;
    margin-top: 7vh;
}

.okvir-pitanje-textbox, .okvir-odgovor-textbox {
    background: black;
    height: calc(100% - 0.6vh);
    clip-path: polygon(calc(0% + 0.1vh) 50%,
                       3% 0%,
                       97% 0%,
                       calc(100% - 0.1vh) 50%,
                       97% 100%,
                       3% 100%);
}

.okvir-pitanje-textbox{
    width: calc(94% - 0.6vh); /* 94 zbog paddinga */
    padding-left: 3%;
    padding-right: 3%;
}

.okvir-odgovor-textbox {
    width: calc(100% - 0.6vh);
    justify-content: left;
    line-height: 0; /* treba da bude u livelu kad se prikazuju odgovori */
}

.okvir-odabir {
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    pointer-events: none;
}

.okvir-odabir:hover {
    background: orange;
}

.okvir-odabir:hover .okvir-odgovor-text {
    color: orange;
    text-shadow: 0 0 2vh orange;
}

.dot {
    font-size: min(1.5vh, 3vmin);
    margin-left: 5%;
    margin-right: 2%;
}

.orange {
    color: orange;
    text-shadow: 0 0 1vh orange;
}

.hide { /* sadrzaj kucice odgovora */
    display: none;
}

.timer {
    font-size: min(5vw, 5vmin);
}

#odustani {
    position: absolute;
    bottom: 4vh;
    left: 3vw;
    color: #663a82;
    text-shadow: 0.5vmin 0.5vmin 1vmin #3c1361;
    font-size: min(5vw, 5vmin);
    animation: none;
    cursor: pointer;
}

#odustani:hover {
    color: orange;
    text-shadow: 0 0 2vh orange;
}